.box{
    margin-top: 25%;
    margin: left right auto;
    border: 1px solid black;
    padding: 3px;
    color: antiquewhite;
}

#para{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    
}

.buttoncontainer {
    border: none;
    background-color: transparent;
    display: flex;
    color: snow;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
}

a:hover {
    text-decoration: none;
    color: #963535;
    background-color: #33B5E5;
}
