.box{
    margin-top: 15rem;
    margin-left: 40%;
    margin-right: 40%;
    border: 1px solid black;
    padding: 3px;
    background-color: rgba(249, 245, 240, 0.964);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#outer{
    list-style-type: disc;
}

#inner{
    list-style-type: circle;
    font-weight: lighter;
}